// @import '../../index.css';

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1p solid gray;

}
